<!-- index -->
<% page.comments = false; %>
<div class="downloads container">
  <div class="download os-windows hidden">
    <a class="btn btn-lg btn-primary" href="<%- url_for(site.data.downloads.weasel.url) %>"><i class="fa fa-windows"></i><%= site.data.downloads.weasel.name %> <small><%= site.data.downloads.weasel.version %></small></a>
  </div>
  <div class="download os-mac hidden">
    <a class="btn btn-lg btn-primary" href="<%- url_for(site.data.downloads.squirrel.url) %>"><i class="fa fa-apple"></i><%= site.data.downloads.squirrel.name %> <small><%= site.data.downloads.squirrel.version %></small></a>
  </div>
  <div class="download os-linux hidden">
    <a class="btn btn-lg btn-primary" href="<%- url_for('download#linux') %>"><i class="fa fa-linux"></i>安裝到 Linux</a>
  </div>
  <div class="download os-ios hidden">
    <a class="btn btn-lg btn-primary" href="/i-rime-with-fool"><i class="fa fa-apple"></i>新韻 for iOS</a>
  </div>
  <div class="download os-unknown">
    <a class="btn btn-lg btn-primary" href="<%- url_for('download') %>"><i class="fa fa-arrow-down"></i>下載 Rime 輸入法</a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-default" href="<%- url_for('code') %>"><i class="fa fa-code-fork"></i>複刻源碼</a>
  </div>
  <div class="footnote text-muted">
    <%- site.data.downloads.footnote %>
    <span class="hidden">&nbsp;&nbsp;<a href="<%- url_for('download') %>">下載更多版本 »</a></span>
  </div>
</div>
<hr />
<div class="features container">
  <div class="feature alpha">
    <div class="left illustration"></div>
    <div class="right">
      <h3>
        <%= site.data.features.beginner.title %><br />
        <small><%= site.data.features.beginner.subtitle %></small>
      </h3>
      <%- markdown(site.data.features.beginner.description) %>
    </div>
  </div>
  <hr />
  <div class="feature beta">
    <div class="left">
      <h3>
        <%= site.data.features.intermediate.title %><br />
        <small><%= site.data.features.intermediate.subtitle %></small>
      </h3>
      <%- markdown(site.data.features.intermediate.description) %>
    </div>
    <div class="right illustration"></div>
  </div>
  <hr />
  <div class="feature gamma">
    <div class="left illustration"></div>
    <div class="right">
      <h3>
        <%= site.data.features.advanced.title %><br />
        <small><%= site.data.features.advanced.subtitle %></small>
      </h3>
      <%- markdown(site.data.features.advanced.description) %>
    </div>
  </div>
</div>
<div class="user-quotes">
  <div class="features container">
    <div class="feature delta">
      <div class="left">
        <% for (var i in site.data.user_quotes) { %>
          <div class="quote">
            <div class="quote-header"><%- markdown(site.data.user_quotes[i].header) %></div>
            <div class="quote-content"><%- markdown(site.data.user_quotes[i].content) %></div>
          </div>
        <% } %>
        <div>
          <a href="https://github.com/rime/home/wiki/UserQuotes">更多說法 »</a>
          &nbsp;&nbsp;
          <a href="<%- url_for('discuss') %>">參加討論 »</a>
        </div>
      </div>
      <div class="right illustration"></div>
    </div>
  </div>
</div>
<div class="finale container">
  <div class="download">
    <a class="btn btn-lg btn-primary" href="<%- url_for('download') %>"><i class="fa fa-arrow-down"></i>下載 Rime 輸入法</a>
  </div>
  <p>今天不想打字？一賞 <a href="/blog/2025/03/01/theme-music/">Rime 主題曲</a>，一閱《<a href="https://github.com/rime/home/wiki/MoodCollection">Rime 心情集</a>》。</p>
  <p>純粹地喜歡？您可以通過 <a href="<%- url_for('donate') %>">小額贊助</a>，支持開發者爲 Rime 投入更大的努力。</p>
</div>
