<%- partial('_partial/head') %>
 <body>
  <%- partial('_partial/navigation') %>
  <div class="container">
  	<div class="content">
    	 <%- body %>
	  </div>
    <footer> <%- partial('_partial/footer') %> </footer>
  </div> <!-- container-narrow -->
  <%- partial('_partial/after_footer') %>
</body></html>
