<!-- categories -->
<!-- title -->
<div class="page-header">
	 <h1><i class="fa fa-folder"></i> <%= page.title %></h1>
</div>

<div class="row page">

	<% if (theme.widgets.length) { %>
	<div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	<% } %>

<% if (site.categories.length){ %>
	<div class="widget">
		<ul class="tag_box inline list-unstyled">
		<% site.categories.sort('name').each(function(item){ %>
			<li><a href="#<%= item.name %>"><%= item.name %><span><%= item.posts.length %></span></a></li>
		<% }); %>
		</ul>
	</div>

<div class="archive">
	<% site.categories.sort('name').each(function(item){ %>

	   <h4 class="archive-ul show" data-toggle="collapse" id="<%= item.name %>" data-target="#modal-<%= item.name %>"> <%= item.name %> <b class="caret"></b></h4>
	   <ul id="modal-<%= item.name %>" class="collapse in">

	   <% site.posts.sort('date', -1).forEach(function(it){ %>
		   <% if (it.categories._index.indexOf(item._id) > -1){ %>
	   	   	 <li class="listing-item"><a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a></li>
		  <% } %>
	   <% }); %>

	   </ul>
	<% }); %>
	</ul>
</div>

<% } %>

</div> <!-- col-md-9 -->

   <% if (theme.widgets.length) { %>
	   <%- partial('_partial/sidebar') %>
   <% } %>

</div> <!-- row-fluid -->
